@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Màu cho Light Mode */
        --background: 255 255 255;
        /* Trắng */
        --foreground: 15 23 42;
        /* Đen than */
        --primary: 59 130 246;
        /* Xanh dương */
        --surface: 248 250 252;
        /* Màu Slate-50 cho nền thẻ */
        --border: 226 232 240;
        /* Màu Slate-200 cho đường viền */
    }

    .dark {
        /* Màu cho Dark Mode (tự động đổi khi class .dark xuất hiện) */
        --background: 15 23 42;
        /* Đen than */
        --foreground: 255 255 255;
        /* Trắng */
        --primary: 96 165 250;
        /* Xanh nhạt hơn */
        --surface: 30 41 59;
        /* Màu Slate-800 cho nền thẻ */
        --border: 51 65 85;
        /* Màu Slate-700 */
    }
}